*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(230, 82, 82);
    height: 400px;
    width: 100%;
}
.main{
    background-color: gray;
    height: 413px;
    margin-top: 13px;
    margin-right: 13px;
    width: 80%;
    float: left;
}
.in{
    display: flex;
}
.left{
    background-color: gray;
    height: 200px;
    width: 100%;
    margin-top: 13px;
    float: left;
}
.middle{
    background-color: gray;
    height: 200px;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 13px;
    width: 100%;
    float: left;
}
.right{
    background-color: gray;
    height: 200px;
    margin-top: 13px;
    width: 100%;
    float: left;
}
.footer{
    background-color: gray;
    height: 1000px;
    margin-top: 13px;
    
}