*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 13px;
}
.header{
    background-color: gray;
    width: 100%;
    height: 150px;
}
/*Line 1*/
.content1{
    display: flex;
    justify-content: space-between;
    margin: 13px;
}
.body-left1{
    background-color: gray;
    width: 20%;
    height: 300px;
}
.body-middle1{
    background-color: gray;
    width: 100%;
    height: 300px;
    margin-left: 13px;
    margin-right: 13px;
}
.body-right1{
    background-color: gray;
    width: 20%;
    height: 300px;
}
/*line 2*/
.content2{
    display: flex;
    justify-content: space-between;
    margin: 13px;
}
.body-left2{
    background-color: gray;
    width: 100%;
    height: 300px;
}
.body-middle2{
    background-color: gray;
    width: 30%;
    height: 300px;
    margin-left: 13px;
    margin-right: 13px;
}
.body-right2{
    background-color: gray;
    width: 30%;
    height: 300px;
}
/*line 3*/
.content3{
    display: flex;
    justify-content: space-between;
    margin: 13px;
}
.body-left3{
    background-color: gray;
    width: 30%;
    height: 300px;
}
.body-middle3{
    background-color: gray;
    width: 100%;
    height: 300px;
    margin-left: 13px;
    margin-right: 13px;
}
.body-right3{
    background-color: gray;
    width: 30%;
    height: 300px;
}
/*line 4*/
.content4{
    display: flex;
    justify-content: space-between;
    margin: 13px;
}
.body-left4{
    background-color: gray;
    width: 100%;
    height: 300px;
}
.body-middle4{
    background-color: gray;
    width: 30%;
    height: 300px;
    margin-left: 13px;
    margin-right: 13px;
}
.body-right4{
    background-color: gray;
    width: 20%;
    height: 300px;
}
.footer{
    background-color: gray;
    width: 100%;
    height: 150px;
}