*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: gray;
    height: 100px;
}
.container{
    margin: 18px;
}
.main{
    margin-top: 13px;
    background-color: gray;
    height: 400px;
}
.include{
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}
.left{
    background-color: gray;
    height: 400px;
    width: 100%;
}
.middle{
    background-color: gray;
    height: 400px;
    width: 100%;
    margin-left: 13px;
    margin-right: 13px;
}
.right{
    background-color: gray;
    height: 400px;
    width: 100%;
}
.footer{
    background-color: gray;
    height: 100px;
    margin-top: 13px;
}