*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 13px;
}
/*header*/
.header{
    display: flex;
    justify-content: space-between;
}
.header-left{
    background-color: gray;
    height: 100px;
    width: 20%;
}
.header-right{
    background-color: gray;
    height: 100px;
    width: 30%;
}
/*Content*/
.content{
    background-color: gray;
    height: 400px;
    width: 100%;
    margin-top: 13px;
}
/*Body*/
.body{
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}
.body-left{
    background-color: gray;
    height: 400px;
    width: 100%;
}
.body-middle{
    background-color: gray;
    height: 400px;
    width: 100%;
    margin-left: 13px;
    margin-right: 13px;
}
.body-right{
    background-color: gray;
    height: 400px;
    width: 100%;
}
/*footer*/
.footer{
    background-color: gray;
    height: 100px;
    width: 100%;
    margin-top: 13px;
}